<%= simple_form_for(@fixture) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.simple_fields_for :scores do |score_fields| %>
      <div class="col-md-6 text-center">
      <h3><%=score_fields.object.team.name + ' Score'%></h3>
      <%=score_fields.input :points, label: false%>
      </div>
    <%end%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
