<div class="row">
  <div class="jumbotron text-center">
      <h1>Registration</h1>
    </div>
  <div class="col-md-offset-3 col-md-6">
 
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <%= f.hidden_field :role, :value => :user%>
    <%= devise_error_messages! %>
  
      <%= f.input :name, class: 'form-control' %>


      
      <%= f.input :email, class: 'form-control' %>
   
   
      <%= f.input :password, class: 'form-control' %>

   
      <%= f.input :password_confirmation, class: 'form-control' %>
 

     <%= f.submit 'Register', :class => 'btn btn-block btn-success' %>
  <% end %>
  </div>
  


</div>
