

<div class="row jumbotron text-center">
  
  <h1>Friends</h1>
 
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Friends</h3>
      </div>
      <div class="panel-body">
      <%if @received.empty?%>
        You have no friends.
      <%end%>
      <% @friends.each do |f| %>
         <div class="btn-group btn-group-justified" role="group">
            <%= link_to user_path(f), class: 'btn btn-default' do %>
              <%=f.name%>
            <%end%>
            <%= link_to 'Remove Friend', friendship_path(f), method: :delete, class: 'btn btn-danger' %>
          </div>
        
        <%end%>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Requests Received</h3>
      </div>
      <div class="panel-body">
          <%if @received.empty?%>
          You currently have no requests.
          <%end%>
        
          <% @received.each do |r| %>
             <div class="btn-group btn-group-justified" role="group">
            <%= link_to user_path(r), class: 'btn btn-default' do %>
              <%=r.name%>
            <%end%>
             <%= link_to 'Accept Friend Request', friendship_path(r), method: :put, class: 'btn btn-warning' %>
          </div>
          <%end%>
        
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Requests Sent</h3>
      </div>
      <div class="panel-body">
        <%if @received.empty?%>
          You have not sent any requests.
          <%end%>
       
          <% @sent.each do |s| %>
          <div class="btn-group btn-group-justified" role="group">
            <%= link_to user_path(s), class: 'btn btn-default' do %>
              <%=s.name%>
            <%end%>
             <%= link_to 'Remove Friend Request', friendship_path(s), method: :delete, class: 'btn btn-danger' %>
          </div>
             
          <%end%>
        
      </div>
    </div>
  </div>
</div>